<style>
    .container-about {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: gold;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    }
</style>


<div class="container-about">
    <h2>Tembak Burung</h2>
    <p>
        Halo semuanya! Saya Juli Suhaidi. Saat ini saya sedang belajar!
    </p>
    <div class="back-button">
        <a href="/" >
            <button>
                Kembali
            </button>
        </a>
    </div>
</div>