*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: gold;
}

button {
    background-color: gold;
    color: black;
    border: none;
    border-radius: 50px;
    padding: 8px;
    margin: 5px;
}
button:active {
    color: white;
}
button:hover {
    background-color: black;
    color: gold;
}

input {
    border: none;
    border-radius: 50px;
    padding: 8px;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url("./../img/latarbelakang.png");
    background-size: 100% 100%;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: gold;
    padding: 20px 5px 20px 5px;
}
nav div {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}
nav div div {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

nav h1 {
    font-family: Kids;
    font-size: 40px;
}

@media only screen and (max-width: 600px) {
    nav {
        padding: 10px 5px 10px 5px;
    }
    nav div div{
        flex-direction: column;
        gap: 5px;
    }
    nav h1 {
        font-family: Kids;
        font-size: 30px;
    }
}


main {
    margin: 0 auto 20px auto;
    width: 80%;
    height: 80%;

}

img {
    width: 100px;
    animation: animasi 2s infinite;
}

@font-face {
    font-family: Kids;
    src: url(./../font/font.otf);
}

#startModal, #containerStart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Kids;
    font-size: 30px;
    font-weight: bold;
    color: gold;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


#end {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Kids;
    font-size: 30px;
    font-weight: bold;
    color: gold;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    display: none;
}
#end p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
}
#end div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#startModal button , #end button, #containerStart button {
    height: 60px;
    width: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 50%;
}

#containerPlayer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: gold;
    background-color: rgba(0, 0, 0, 1);
    padding: 20px;
    border-radius: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    margin:20px;
    color: white;
    opacity: 0.5;
}

/* halaman start.ejs */
#inputnamePlayer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: gold;
    background-color: rgba(0, 0, 0, 1);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

/* animasi */
@keyframes animasi {
    0% {
        transform: translateY(0) rotate(0deg); /* Tanpa translasi dan rotasi pada awal */
    }
    50% {
        transform: translateY(20px) rotate(10deg); /* Translasi ke bawah dan rotasi 10 derajat di tengah animasi */
    }
    100% {
        transform: translateY(0) rotate(0deg); /* Kembali ke posisi awal tanpa rotasi */
    }
}